In [2]:
import pandas as pd
import requests as re
import numpy as np
import matplotlib.pyplot as plt

import asyncio
from aiohttp import ClientSession
from loguru import logger

In [3]:
today = pd.Timestamp.today()
day, month, year = today.day, today.month, today.year
data = pd.read_csv(f'data_{day}_{month}_{year}.csv', index_col='Unnamed: 0')
data.drop_duplicates(inplace=True)
data = data[data.index.notna()]
data.shape

(409, 64)

In [4]:
data.head()

,Tipo,Empresa,Setor,Subsetor,Cotação,Data últ cot,Min 52 sem,Max 52 sem,Vol $ méd (2m),Valor de mercado,...,demonstrative12m_Lucro Líquido,demontrative3m_Receita Líquida,demontrative3m_EBIT,demontrative3m_Lucro Líquido,Cart. de Crédito,Depósitos,demonstrative12m_Result Int Financ,demonstrative12m_Rec Serviços,demontrative3m_Result Int Financ,demontrative3m_Rec Serviços
ETER3,ON,ETERNIT ON,Construção e Engenharia,Materiais de Construção,358,30/06/2020,196,685,2.097.600,113.751.000,...,-2.025.000,113.636.000,-9.302.000,-14.848.000,NaN,NaN,NaN,NaN,NaN,NaN
PRNR3,ON NM,PRINER ON NM,Serviços,Serviços Diversos,970,30/06/2020,658,1497,2.597.920,369.037.000,...,-2.193.000,71.122.000,2.799.000,4.044.000,NaN,NaN,NaN,NaN,NaN,NaN
COGN3,ON,COGNA ON,Diversos,Educacional,661,30/06/2020,366,1362,348.851.000,12.404.400.000,...,-42.117.000,1.627.470.000,163.402.000,-39.120.000,NaN,NaN,NaN,NaN,NaN,NaN
NORD3,ON,NORDON INDS METALURGICAS SA ON,Máquinas e Equipamentos,Máqs. e Equips. Industriais,747,30/06/2020,131,1000,28.770,49.458.900,...,-3.000,447.000,27.000,-46.000,NaN,NaN,NaN,NaN,NaN,NaN
DASA3,ON,DIAGNOSTICOS DA AMERICA SA ON,Saúde,"Serviços Médico - Hospitalares, Análises e Dia...",6650,29/06/2020,2777,8025,6.255,31.974.100.000,...,-19.491.000,1.456.870.000,14.435.000,-78.135.000,NaN,NaN,NaN,NaN,NaN,NaN